<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/app.css">
    <title>Sterling coins calculator</title>
</head>
<body>
    <main id="js-app" class="row" v-bind:class=" { showTotal: total }">
        <section class="column calculator" v-bind:class="{ focused: isFocus }">
            <h1>Sterling coins calculator</h1>
            <form action="index.html" method="post" v-on:submit.prevent="onSubmit">
                <label for="calculator" class="sr-only">
                    Calculator
                </label>
                <input type="text" placeholder="Amount in pennies" name="calculator" value="" id="calculator" v-model="calculateString" autocomplete="transaction-currency" pattern="^£?\d+(\.\d+)?p?$" title="£ + number + p" v-on:focus="onFocus" v-on:blur="onBlur">
                <button type="submit"> Calculate </button>
            </form>
        </section>
        <aside class="column results" v-if="total">
            <h2>Results</h2>
            <table>
                <thead>
                    <tr>
                        <th>Coin</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(value, key) in sterling" v-if="value">
                        <td>
                            {{ key >= 100 ? '£' + key / 100 : key + 'p'  }}
                        </td>
                        <td>{{ value }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>£{{ total }}p</td>
                    </tr>
                </tfoot>
            </table>
        </aside>
    </main>
    <script src="public/app.js" charset="utf-8"></script>
</body>
</html>
